body {
font-family:Arial;
}
input {
font-family:Arial;
font-size:14px;
}
label{
font-family:Arial;
font-size:14px;
color:#000000;
}
.tblSaveForm {
border-top:2px #999999 solid;
background-color: #f8f8f8;
}
.tableheader {
color:#000000;
background-color: #8d9090;
font-weight: bold;
}
.btnSubmit {
background-color:#ffffff;
padding-left:10px;
margin-left: 30px;
border-color:#000000;
border-radius:4px;
color: #000000;
}
.message {
color: red;
text-align: center;
width: 100%;
}
.txtField {
padding: 5px;
border:#000000 1px solid;
border-radius:4px;
}
.required {
color: #FF0000;
font-size:11px;
font-weight:italic;
padding-left:10px;
}